<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="rubber" class="bit.ideafactory.iocworkshop.student.studentkit.erasers.Rubber"/>
    <bean id="pen" class="bit.ideafactory.iocworkshop.student.studentkit.writers.Pen"/>
    <bean id="pencil" class="bit.ideafactory.iocworkshop.student.studentkit.writers.Pencil"/>
    <bean id="corrector" class="bit.ideafactory.iocworkshop.student.studentkit.erasers.Corrector"/>

    <bean id="examPaper" class="bit.ideafactory.iocworkshop.student.studentkit.paper.ExamPaper" scope="prototype"/>
    <bean id="lessonPaper" class="bit.ideafactory.iocworkshop.student.studentkit.paper.LessonPaper" scope="prototype"/>

    <bean id="examStudent" abstract="true" class="bit.ideafactory.iocworkshop.student.AbstractStudent">
        <constructor-arg ref="examPaper"/>
    </bean>
    <bean id="foolStudent" scope="prototype" class="bit.ideafactory.iocworkshop.student.FoolStudent" parent="examStudent">
        <property name="writer" ref="pen"/>
    </bean>
    <bean id="scientificStudent" scope="prototype" class="bit.ideafactory.iocworkshop.student.ScientificStudent" parent="examStudent">
        <property name="writer" ref="pen"/>
    </bean>

    <bean id="humanistStudent" scope="prototype" class="bit.ideafactory.iocworkshop.student.HumanistStudent">
        <constructor-arg ref="lessonPaper"/>
        <property name="eraser" ref="rubber"/>
        <property name="writer" ref="pencil"/>
    </bean>

    <bean id="studentClass" class="bit.ideafactory.iocworkshop.MyClass">
        <constructor-arg>
            <list>
                <ref bean="foolStudent"/>
                <ref bean="scientificStudent"/>
                <ref bean="humanistStudent"/>
            </list>
        </constructor-arg>
    </bean>
</beans>
