<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="rubber" class="bit.ideafactory.iocworkshop.student.studentkit.erasers.Rubber"/>
    <bean id="pen" class="bit.ideafactory.iocworkshop.student.studentkit.writers.Pen"/>
    <bean id="pencil" class="bit.ideafactory.iocworkshop.student.studentkit.writers.Pencil"/>
    <bean id="corrector" class="bit.ideafactory.iocworkshop.student.studentkit.erasers.Corrector"/>

    <bean id="examPaperFactory" class="bit.ideafactory.iocworkshop.student.studentkit.paper.factories.ExamPaperFactory"/>
    <bean id="lessonPaperFactory" class="bit.ideafactory.iocworkshop.student.studentkit.paper.factories.LessonPaperFactory"/>

    <bean id="foolStudentFactory" class="bit.ideafactory.iocworkshop.student.factories.FoolStudentFactory">
        <constructor-arg ref="corrector"/>
        <constructor-arg ref="pen"/>
        <constructor-arg ref="examPaperFactory"/>
    </bean>

    <bean id="scientificStudentFactory" class="bit.ideafactory.iocworkshop.student.factories.ScientificStudentFactory">
        <constructor-arg ref="examPaperFactory"/>
        <constructor-arg ref="pen"/>
    </bean>

    <bean id="humanistStudentFactory" class="bit.ideafactory.iocworkshop.student.factories.HumanistStudentFactory">
        <constructor-arg ref="lessonPaperFactory"/>
        <constructor-arg ref="rubber"/>
        <constructor-arg ref="pencil"/>
    </bean>

    <bean id="foolStudent" factory-bean="foolStudentFactory" factory-method="create" scope="prototype"/>
    <bean id="scientificStudent" factory-bean="scientificStudentFactory" factory-method="create" scope="prototype"/>
    <bean id="humanistStudent" factory-bean="humanistStudentFactory" factory-method="create" scope="prototype"/>
</beans>
